
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:#F6F1F1;
    color: #19A7CE;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}

header {
    font-size: 1.5rem;
}

header, 
form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, 
form button {
    padding: 0.5rem;
    padding-left: 1rem;
    font-size: 1.8rem;
    border: none;
    background: #ffe9e3;
    border-radius: 2rem;
}

form button {
    color: #F6F1F1;
    background: #19A7CE;
    cursor: pointer;
    transition: all 0.3 ease;
    margin-left: 0.5rem;
}

form button:hover {
    color: #ffe9e3;
    background: #146C94;
}

.fa-plus-circle {
    margin-top: 0.3rem;
    margin-left: -8px;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 30%;
    list-style: none;
}

.todo {
    margin: 0.5rem;
    padding-left: 0.5rem;
    background: #ffe9e3;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    border-radius: 2rem;
}

.todo li {
    flex: 1;
}

.trash-btn, 
.complete-btn {
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1.5rem;
}

.complete-btn {
    background: skyblue;
}

.trash-btn {
    border-top-right-radius: 1.75rem;
    border-bottom-right-radius: 1.75rem;
    background: #19A7CE;
}

.todo-item {
    padding: 0rem 0.5rem;
}

.fa-trash, 
.fa-check-circle {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.slide {
    transform: translateX(10rem);
    opacity: 0;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}
.color{
    width : 50%;
    height:1000px;
    background-color:rgb(135, 235, 235);
    align-content: center;
    border-radius: 5%;
}

.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
    border-radius: 50px;
    color: #ffe9e3;
}

select {
    color: black;
    width: 10rem;
    height: 3.2rem;
    cursor: pointer;
    padding: 1rem;
}

.select::after {
    content: "\25BC";
    position: absolute;
    background:white;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.3s ease;
}

.select::after {
    background:white ;
    color: skyblue;
}

.logo{
    float: left;
    height: 5%;
}

#bar{
    padding: 5px 0px 0px;
    border-bottom: 2px solid #c4c1e0;
}

#down{
    float: bottom;

}
h1{
    text-shadow: black 2px 2px 5px;
    text-decoration: black;
    color: black;
 }
 .para{
    color: #146C94;
 }
 #mean div{
    align: center;
 }
 
 
 .class{
    color: rgb(135, 235, 235);
    border-radius: 100%;
    align-content: flex-start;

 }